@import url('https://rsms.me/inter/inter-ui.css');
body{
  font-family: inter ui , sans-serif;
  background-color: #d6e8d9;
  background-color: #f0f0f0;;
}
h1,h2,h3,h4,h5{
  font-family: unna, serif;
  
}
.navbar-brand{
  font-weight: 800;
}
.card{
  box-shadow: 0 2px 6px rgba(0,0,0, .1);
  
}
.card-title{
  font-weight: bold;
  margin-bottom: .25rem !important;
}